img{
    width: 120px;
    height: 120px;
    border: 3px solid rgb(163, 17, 17);

}
section{
    float: left;
   
    margin: 30px;
    font-family: cursive;
    font-size: 15px;
    text-align: center;
    width: 170px;
    height: 150px;
}



